<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<h2>The app that we just created should be at the top of this!!!!</h2>
<% @tasks.each do |task| %>
    <h1>ITEM <%= task.id %></h1>
    <p>NAME: <%= task.name %></p>
    <p>DESCRIPTION: <%= task.description %></p>
    <p>BOUNTY: $<%= task.price %></p>
<% end %>