<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <p>Welcome to Bounty Hunters!</p>
      <p><%= link_to "Home", landing_page_path %></p>
      <p><%= link_to "Create new task", new_task_path %></p>
      <p><%= link_to "Application page", main_app_path %></p>
    </div>
  </div>
</nav>