<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome to Bounty Hunters!</a>
    </div>
  </div>
</nav>