
<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE> TESTER LANDING PAGE </TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
    	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

	    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
	    

    </HEAD>
    <style>

html { 
    background: url(http://i.imgur.com/hd0ZmWG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding-top: 20px;
    font-size: 16px;
    font-family: "Open Sans", serif;
    background: transparent;
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
}
        
.panel{
    background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {margin: 20px 0;}

    </style>


    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 panel panel-default"> 
                    <h1 class="margin-base-vertical"> The hunt is on </h1>
                    <p>
                        Bounty Hunters is a brand new project looking to redefine the way we work.
                    </p>
                    <p>
                        By Andrew Lin, Siyu Chen, Howard Huang, and Alex Waz.
                    </p>
                    <p>
                        Sign up and start hunting!
                    </p>
                    <form class="margin-base-vertical">
            		    <p class="input-group">
            			    <span class="input-group-addon"><span class="icon-envelope"></span></span>
                			<input type="text" class="form-control input-lg" name="email" placeholder="mail@example.com" />
                		</p>
                		<p class="help-block text-center"><small>This email will be used to track your earnings.</small></p>
                		<p class="input-group">
            			    <span class="input-group-addon"><span class="icon-lock"></span></span>
                			<input type="text" class="form-control input-lg" name="password" placeholder="**************" />
                		</p>
                		<p class="help-block text-center"><small>Remember to make your password secure!</small></p>
                		<p class="text-center">
                			<button type="submit" class="btn btn-success btn-lg">Sign Up Now</button>
                		</p>
                		</span>
                	</form>
                </div>
            </div>
        </div>
    </body>
</HTML>
  
