<div class="container-fluid">
    <div class="row">
        Postings:
    </div>    
    
    <div>
    <% @tasks.each do |task| %>
        <h1>ITEM <%= task.id %></h1>
        <p>NAME: <%= task.name %></p>
        <p>DESCRIPTION: <%= task.description %></p>
        <p>BOUNTY: $<%= task.price %></p>
        <p>[THERE WILL BE A PLACE HERE TO CLICK AND CLAIM!]</p>
    <% end %>
        
        
    </div>
</div>