// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    padding-top: 50px;
}

// task-panel
.task-panel{
    padding: 20px 0;
}

.tag-badge{
    border-radius: 10% !important;
    background-color: #b8bcc3 !important;
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

.textarea{
    width: 100%; 
}


.balance-badge{
    background-color: #dfc324 !important;
}
// panel
// .panel-bg{
    //color: white;
    //background-color: #3f90ff;
// }

.my-tasks {
    width: 50%;
    margin: 0 auto; 
}